/* CSS Reset */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
/* Global Constraints*/
body{
    max-width:512px;
    width:100%;
    margin:0 auto;
}
/*Fonts*/
.dm-sans-testi {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}
.sigmar-regular {
  font-family: "Sigmar", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/*Variabili*/
:root{
    --primary-color: #191D7B;
    --primary-gradient-color: #2A2C82;
    --secondary-gradient-color: #5D64D1;
    --background-gradient: linear-gradient(135deg, #2A2C82 0%, #5460E6 100%);
    --text-color: #FFFFFF;
    --border-color-primary: #4D58DC;
    --border-color-secondary: #DADBEA;
}

/*Utility Classes*/
.background-primary{
    background-color:var(--primary-color);
}
.background-secondary{
    background-color:var(--secondary-gradient-color);
}
.background-gradient{
    background:var(--background-gradient);
}
.text-center{
    text-align:center;
}
.text-color{
    color:var(--text-color);
}

.text-justify{
    text-align:justify;
}

.block-button{
    display:block;
    width:100%;
}
/*Header*/
.header-banner{
    display:block;
    width:100%;
}

/*Main*/
.main{
    background-color:var(--primary-color);
    padding: 2em 2em;
}
/* Download Section */
.download-section{
    width: 60%;
    margin: 0 auto;
}
.download-section-text{
    line-height:1.2;
}
.windows-download-button{
    width:100%;
    margin:1em auto;
    padding:0.75em;
    border-radius:10px;
    border:1px solid var(--border-color-secondary);
}
.open-in-browser-button{
    width:100%;
    margin:1em auto;
    padding:0.75em;
    border-radius:10px;
    border:1px solid var(--border-color-primary);
}
.icon{
    margin: 0 0.2em;
}
/* Titolo */
.titolo{
    margin: 1em auto;
    line-height:1.2;
    text-transform:uppercase;
    font-size: 28px;
}


/*Feature Preview Section*/
.feature-preview-section{
    width:95%;
    margin:3em auto;
    padding:3em 2em;
    border-radius:20px;
    border:1px solid var(--background-gradient);
}
.feature-preview-section-text{
    line-height:1.2;
    margin: 1em auto;
}
.feature-preview-section-image{
    width:100%;
    margin:1em auto;
    border-radius:20px;
}